<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css" integrity="sha384-XXXXXXXX" crossorigin="anonymous">
    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js" integrity="sha384-XXXXXXXX" crossorigin="anonymous"></script>
    <title><?=Config::get("app_name") ?></title>
</head>
<body>
    <h3>Header will be here</h3>
    <?=$data['content']?>
    <h3>Footer will be here</h3>
    <!--<h4><a href="<?=BASE_PATH.'article'?>">Show Article</a> </h4>-->
</body>
</html>
